/*
  Based on the original idea and implementation by Victor Vergara
  https://codepen.io/vcomics/pen/JjpgBwY
*/

@font-face {
    font-family: 'TheGoodMonolith';
    font-style: normal;
    font-weight: 500;
    src: local('TheGoodMonolith'), url('./TheGoodMonolith.woff') format('woff');
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color--background--100: rgb(85, 85, 85);
  --color--foreground--100: rgb(230, 225, 215);
  --color--accent--100: rgb(200, 180, 160);
  --font-primary: "TheGoodMonolith", monospace;
  --font-secondary: "TheGoodMonolith", monospace;
  --margin: 32px;
  --gutter: 16px;
}

body {
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  background: radial-gradient(
    circle at 10% 20%,
    rgb(45, 45, 45) 0%,
    /* Near black */ rgb(5, 5, 5) 90% /* Very dark gray */
  );
  color: var(--color--foreground--100);
  letter-spacing: -0.03em;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: transparent
    url("./noise-transparent.png") repeat 0 0;
  background-size: 300px 300px;
  -webkit-animation: noise-animation 0.3s steps(5) infinite;
          animation: noise-animation 0.3s steps(5) infinite;
  opacity: 0.9;
  will-change: transform;
  z-index: 100;
  pointer-events: none;
}

@-webkit-keyframes noise-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-2%, -3%);
  }
  20% {
    transform: translate(-4%, 2%);
  }
  30% {
    transform: translate(2%, -4%);
  }
  40% {
    transform: translate(-2%, 5%);
  }
  50% {
    transform: translate(-4%, 2%);
  }
  60% {
    transform: translate(3%, 0);
  }
  70% {
    transform: translate(0, 3%);
  }
  80% {
    transform: translate(-3%, 0);
  }
  90% {
    transform: translate(2%, 2%);
  }
  100% {
    transform: translate(1%, 0);
  }
}

@keyframes noise-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-2%, -3%);
  }
  20% {
    transform: translate(-4%, 2%);
  }
  30% {
    transform: translate(2%, -4%);
  }
  40% {
    transform: translate(-2%, 5%);
  }
  50% {
    transform: translate(-4%, 2%);
  }
  60% {
    transform: translate(3%, 0);
  }
  70% {
    transform: translate(0, 3%);
  }
  80% {
    transform: translate(-3%, 0);
  }
  90% {
    transform: translate(2%, 2%);
  }
  100% {
    transform: translate(1%, 0);
  }
}

a {
  color: var(--color--foreground--100);
  text-decoration: none;
  font-size: 1.25rem;
}

.wrapper {
  height: 400vh;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headline {
  font-size: 4rem;
  /* font-weight: 300; */
  margin: 0;
  letter-spacing: -0.03em;
  pointer-events: none;
  user-select: none;
}

.subhead {
  /* font-family: "IBM Plex Mono", monospace; */
  font-size: 2rem;
  pointer-events: none;
  user-select: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Take up the entire viewport height */
  z-index: -1; /* Send it behind other content */
  pointer-events: none;
}

.content {
  padding: 200vh 2rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 300;
  letter-spacing: -0.03em;
}

.content p {
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.6;
  font-size: 0.875rem;
}

.text-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}