/*
  Based on the original idea and implementation by Victor Vergara
  https://codepen.io/vcomics/pen/JjpgBwY
*/

@font-face {
    font-family: 'TheGoodMonolith';
    font-style: normal;
    font-weight: 500;
    src: local('TheGoodMonolith'), url('./TheGoodMonolith.woff') format('woff');
}

.wrapper {
  height: 400vh;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  font-family: ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headline {
  font-size: 4rem;
  /* font-weight: 300; */
  margin: 0;
  letter-spacing: -0.03em;
  z-index: 10;
  pointer-events: none;
  user-select: none;
}

.subhead {
  /* font-family: "IBM Plex Mono", monospace; */
  font-size: 2rem;
  z-index: 10;
  pointer-events: none;
  user-select: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color--background--100: rgb(60, 66, 55);
  --color--foreground--100: rgb(230, 225, 215);
  --color--accent--100: rgb(200, 180, 160);
  --font-primary: "TheGoodMonolith", monospace;
  --font-secondary: "TheGoodMonolith", monospace;
  --margin: 32px;
  --gutter: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  background: radial-gradient(
    circle at 10% 20%,
    rgb(85, 85, 85) 0%,
    /* Near black */ rgb(0, 0, 0) 90% /* Very dark gray */
  );
  color: var(--color--foreground--100);
  letter-spacing: -0.03em;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: transparent
    url("./noise-transparent.png") repeat 0 0;
  background-size: 300px 300px;
  animation: noise-animation 0.3s steps(5) infinite;
  opacity: 0.9;
  will-change: transform;
  z-index: 100;
  pointer-events: none;
}

@keyframes noise-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-2%, -3%);
  }
  20% {
    transform: translate(-4%, 2%);
  }
  30% {
    transform: translate(2%, -4%);
  }
  40% {
    transform: translate(-2%, 5%);
  }
  50% {
    transform: translate(-4%, 2%);
  }
  60% {
    transform: translate(3%, 0);
  }
  70% {
    transform: translate(0, 3%);
  }
  80% {
    transform: translate(-3%, 0);
  }
  90% {
    transform: translate(2%, 2%);
  }
  100% {
    transform: translate(1%, 0);
  }
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 10;
}

.text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 2rem;
}

.text-wrapper h1 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--color--foreground--100);
  font-family: var(--font-primary);
  color: #1e1d1z;
}

.text-wrapper .small-text {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--color--accent--100);
  font-family: var(--font-secondary);
  text-transform: uppercase;
  color: #1e1d1z;
}

.dg.ac {
  z-index: 999 !important;
}
