<div class="support-system-button-container">
    <div class="glitch-button-container">
        <div class="btn-glitch-fill support-system-button-size">
            <span class="text">// Energy Systems
            </span>
            <span class="text-decoration">_</span>
            <span class="decoration">⇒</span>
            <button class="glitch-button-link support-system-button-size" data-modal="Energy Systems">BUTTON</button>
        </div>
    </div>
</div>
<div class="support-system-button-container">
    <div class="glitch-button-container">
        <div class="btn-glitch-fill support-system-button-size">
            <span class="text">// Network Infrastructure
            </span>
            <span class="text-decoration">_</span>
            <span class="decoration">⇒</span>
            <button class="glitch-button-link support-system-button-size" data-modal="Network Infrastructure">BUTTON</button>
        </div>
    </div>
</div>
<div class="support-system-button-container">
    <div class="glitch-button-container">
        <div class="btn-glitch-fill support-system-button-size">
            <span class="text">// Compute
            </span>
            <span class="text-decoration">_</span>
            <span class="decoration">⇒</span>
            <button class="glitch-button-link support-system-button-size" data-modal="Compute">BUTTON</button>
        </div>
    </div>
</div>
<div class="support-system-button-container">
    <div class="glitch-button-container">
        <div class="btn-glitch-fill support-system-button-size">
            <span class="text">// Distributed Systems
            </span>
            <span class="text-decoration">_</span>
            <span class="decoration">⇒</span>
            <button class="glitch-button-link support-system-button-size" data-modal="Distributed Systems">BUTTON</button>
        </div>
    </div>
</div>
<div class="support-system-button-container">
    <div class="glitch-button-container">
        <div class="btn-glitch-fill support-system-button-size">
            <span class="text">// Learning Modules
            </span>
            <span class="text-decoration">_</span>
            <span class="decoration">⇒</span>
            <button class="glitch-button-link support-system-button-size" data-modal="Learning Modules">BUTTON</button>
        </div>
    </div>
</div>
<div class="support-system-button-container">
    <div class="glitch-button-container">
        <div class="btn-glitch-fill support-system-button-size">
            <span class="text">// Physical Infrastructure
            </span>
            <span class="text-decoration">_</span>
            <span class="decoration">⇒</span>
            <button class="glitch-button-link support-system-button-size" data-modal="Physical Infrastructure">BUTTON</button>
        </div>
    </div>
</div>
<div class="support-system-button-container">
    <div class="glitch-button-container">
        <div class="btn-glitch-fill support-system-button-size">
            <span class="text">// Security Systems
            </span>
            <span class="text-decoration">_</span>
            <span class="decoration">⇒</span>
            <button class="glitch-button-link support-system-button-size" data-modal="Security Systems">BUTTON</button>
        </div>
    </div>
</div>
<div class="support-system-button-container">
    <div class="glitch-button-container">
        <div class="btn-glitch-fill support-system-button-size">
            <span class="text">// Surveillance Systems
            </span>
            <span class="text-decoration">_</span>
            <span class="decoration">⇒</span>
            <button class="glitch-button-link support-system-button-size" data-modal="Surveillance Systems">BUTTON</button>
        </div>
    </div>
</div>