<div class="data-panel" style="position: absolute; top: 180px; left: 20px; z-index: 15;">
    <div class="data-panel-title">
        <span>Situation Report</span>
        <span id="status-indicator">●</span>
    </div>
    <div style="position:relative; height: 75px; width:150px;">
        <div class="glitch-button-container">
            <div class="btn-glitch-fill roe-button-size">
                <span class="text">//<br>//<br>// Rules of engagement
                </span>
                <span class="text-decoration">_</span>
                <span class="decoration"><br>⇒</span>
                <button class="glitch-button-link roe-button-size" data-modal="rules-of-engagement">BUTTON</button>
            </div>
        </div>
    </div>
</div>